.animated-line {
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  filter: drop-shadow(0px 0px 5px rgba(0, 184, 148, 0.6));
  transition: stroke 0.3s ease;
  animation: drawLine 3s ease forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}