.inputDiv {
    position: fixed;
    bottom: 0px;
    height: 5rem;
    width: 100dvw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    background-color: rgb(252, 44, 44);
}

input {
    padding: 0 0.5rem;
    height: 3rem;
    color: black;
    font-size: medium;
    margin-left: 10px;
    outline: none;
    border-radius: 5px;
}

.btn {
    width: 5rem;
    height: 3rem;
    background-color: rgb(137, 209, 185);
    border-radius: 5px;
    color: black;
    font-size: medium;
}

