.node{
    background-color: rgb(130, 155, 155);
    height: auto;
    width: 6rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
}
.node:hover{
    background: white;
    color: black;
    cursor: grab;
}