.node {
    background-color: rgb(184, 181, 181);
    padding: 2px 10px;
    height: 30px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    user-select: none;
    cursor: grab;
    position: absolute;
    
}