.node{
    background-color: rgb(89, 95, 95);
    height: auto;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
}
.node:hover{
    background-color: rgb(27, 154, 212);
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}